body{
background:black;
color:white;
font-family:Arial;
text-align:center;
margin:0;
overflow-x:hidden;
}

.header{
padding:40px;
}

.orbit-section{
display:flex;
justify-content:center;
align-items:center;
height:400px;
}

#orbit{
width:300px;
height:300px;
border:1px dashed white;
border-radius:50%;
position:relative;
}

.planet{
width:60px;
height:60px;
background:linear-gradient(blue,cyan);
border-radius:50%;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
box-shadow:0 0 20px cyan;
}

.satellite{
width:15px;
height:15px;
background:white;
border-radius:50%;
position:absolute;
top:50%;
left:50%;
}

.apod{
padding:40px;
}

#apod-container img{
max-width:80%;
border-radius:10px;
margin-top:20px;
box-shadow:0 0 20px white;
}
